body {
    background-color: var(--color-bg-1);
    color: var(--color-text-1);

    -webkit-tap-highlight-color: transparent;
}

.float-buttons {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 999;
}

.arco-input-group-suffix-button-custom {
    .arco-input-inner-wrapper {
        padding-right: 0;
        .arco-btn {
            height: 30px;
        } 
    }
}

@media screen and (max-width: 480px) {
    
}

@media screen and (min-width: 481px) and (max-width: 1024px) {
    
}

@media screen and (min-width: 1025px) {
    
}